.menWear{
    width: 100vw;
    height: 91vh;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 68px;
    background: rgb(238, 228, 228);
}
.menWear .headForMenWear{
    width: 20%;
    height: 100%;
    background: gray;
}
.menWear .bodyForMenWear{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}
.menWear .bodyForMenWear .card {
    width: 80%;
    background: gray;
    display: flex;
    height: 15em;
    padding: 15px;
}
.menWear .bodyForMenWear .card .img{
    width: 25%;
    height: 100%;
}
.menWear .bodyForMenWear .card .img img{
    height: 100%;
    width: 100%;
}
.menWear .bodyForMenWear .card .about{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
}